#text:focus {
  box-shadow: none;
  border-color: green;
}

#submit {
  width: 90%;
  background-color: #ABBEFE;
  border-radius: 10px;
  height: 3rem;
  margin-top: 7%;
  font-weight: bold;
  box-shadow: none;
}